@{
    ViewData["Title"] = "Show Location";
    var lat = ViewData["Latitude"];
    var longi = ViewData["Longitude"];
    var destination = ViewData["Destination"];
}

<h2>@ViewData["Title"]</h2>

<div id="map" style="height: 500px;"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    var lat = parseFloat("@lat");
    var longi = parseFloat("@longi");
    var destination = "@destination".replace(/"/g, '\\"');

    var map = L.map('map').setView([lat, longi], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    L.marker([lat, longi]).addTo(map)
        .bindPopup(destination)
        .openPopup();
</script>
