<!DOCTYPE html>
<html>
<head>
    <link href="~/css/HomeIndex.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
</head>
<body>
    <div class="container mt-4">
        <h2 class="mb-3">Tour Packages</h2>
        <div class="tour-container">
            <button class="scroll-btn scroll-left" id="scrollLeft" disabled>&lt;</button>
            <div class="horizontal-scroll" id="packageContainer">

            </div>
            <button class="scroll-btn scroll-right" id="scrollRight">&gt;</button>
        </div>
    </div>
    <script src="~/js/HomeIndex.js"></script>
</body>
</html>