<div class="container mx-auto p-4">
    <h2 class="text-xl font-bold mb-4">Order List</h2>
    <table class="min-w-full bg-white border" id="orderTable">
        <thead>
            <tr>
                <th class="py-2 border">Username</th>
                <th class="py-2 border">Price</th>
                <th class="py-2 border">Start Date</th>
                <th class="py-2 border">End Date</th>
                <th class="py-2 border">Booking Date</th>
                <th class="py-2 border">Number of people</th>
                <th class="py-2 border">Total price</th>
                <th class="py-2 border">Delete</th>
                <th class="py-2 border">Detail</th>
            </tr>
        </thead>
        <tbody id="orderData">
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/orderlist.js"></script>